@font-face {
    font-family: Averta;
    src: url(https://res.cloudinary.com/dafsch2zs/raw/upload/v1596618987/Zuri%20Landing/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: Averta, sans-serif; 
}
.center-image {
    margin: auto;
    display: flex;
    padding-top: 69px;
    margin-bottom: 69px;
}
.center-image img{
    margin: auto;
}
.heading-container{
    height: 800px;
    background-image: url(images/hero-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.heading{
    /* padding: 10px; */
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
.heading h2{
    font-size: 32px;
    line-height: 48px;
    font-weight: 800;
    color: #514949;
    text-align: center;
    margin-bottom: 36px;
}
.heading p{
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
}
a{
    color: #E73328;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #eb5850;
}
.btn-div{
    margin: 92px;
    display: flex;

}
.zuri-btn{
    padding: 11px 28px ;
    border: 1px solid #E7332B;
}
.btn1{
    background-color: #E7332B;
    color: #fff;
    margin-right: 24px;
}
.btn1:hover{
    background-color: #fff;
    color: #E7332B;
}
.btn2{
    background-color: #fff;
    color: #E7332B;
}
.btn2:hover{
    background-color: #E7332B;
    color: #fff;
}
.programs{
    background-color: #fff;
    overflow: hidden;
    display: flex;
    background-color: #fff;
    display : grid;
    align-items: center;
}
.program-content{
    padding-top: 0;
}
.container .program-content{
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
    
}
.program-content .h3-heading {
    font-size: 14px;
    line-height: 24px;
    color: #E7332B;
    margin-top: 141px;
    text-align: center;
}
/* .zuri-content{
    max-width: 1240px;
} */
.program-content .slogan{
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #514949;
    margin-top: 8px;
    margin-bottom: 64px;
    align-items: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.program-card .left-text{
    position: relative;
    z-index: 1;
}
.program-card{
    /* width: 100%; */
    background-color: #FFFAFA;
    padding: 5px;
    align-items: center;
    margin: 20px;
    display : flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.program-card img{
    margin-bottom: 48px;
}

img{
    vertical-align: middle;
    border-style: none;
}
.left-image {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: transparent;
}
.left-design{
    width: 20%;
}
.right-image{
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: transparent;
}
.right-design{
    width: 20%;
}
.left-text{
    margin-left: 10%;
}
.program-card p{
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
}
.program-card h3 a{
    font-size: 16px;
    line-height: 40px;
    color: #E7332B;
    opacity: 0.9;
}
.footer{
    margin-top: 215px;
    margin-left: 50px;
    margin-right: 50px;
}
.footer-flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 56px;
    padding: 20px;
   
}
.footer h3{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #514949;
}
.links{
    list-style: none;
    margin: 0;
    padding: 0;
}
.links a{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #514949;
    opacity: 0.9;
}
.address p{
    font-size: 14px;
    line-height: 20px;
    color: #514949;
    opacity: 0.9;
}
.contact-icons{
    /* size-adjust: 30px; */
    width: auto;
    margin-right: 15px;
}
.icons{
    width: 9%;
}
.footer hr{
    opacity: 0.2;
    border: 0.7px solid #514949;
}
.copyright p{
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
    margin-top: 32px;
    color: #514949;
    padding-bottom: 97px;
}