@font-face {
    font-family: Averta;
    src: url(https://res.cloudinary.com/dafsch2zs/raw/upload/v1596618987/Zuri%20Landing/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: Averta, sans-serif; 
}
.center-image {
    margin: auto;
    display: flex;
    padding-top: 69px;
    margin-bottom: 69px;
}
.center-image img{
    margin: auto;
}
.heading-container{
    height: 800px;
    background-image: url(images/hero-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.heading{
    /* padding: 10px; */
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
.heading h2{
    font-size: 32px;
    line-height: 48px;
    font-weight: 800;
    color: #514949;
    text-align: center;
    margin-bottom: 36px;
}
.heading p{
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
}
a{
    color: #E73328;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #eb5850;
}
.btn-div{
    margin: 92px;
    display: flex;
}
.zuri-btn{
    padding: 11px 28px ;
    border: 1px solid #E7332B;
}
.btn1{
    background-color: #E7332B;
    color: #fff;
    margin-right: 24px;
}
.btn1:hover{
    background-color: #fff;
    color: #E7332B;
}
.btn2{
    background-color: #fff;
    color: #E7332B;
}
.btn2:hover{
    background-color: #E7332B;
    color: #fff;
}
.programs{
    background-color: #fff;
    overflow: hidden;
    display: flex;
    background-color: #fff; 
    align-items: center;
}
.program-content{
    padding-top: 0;
}
.container .program-content{
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
    
}
.program-content .h3-heading {
    font-size: 14px;
    line-height: 24px;
    color: #E7332B;
    margin-top: 141px;
    text-align: center;
}
.program-content .slogan{
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #514949;
    margin-top: 8px;
    margin-bottom: 64px;
    align-items: center;
}
.zuri-content{
    display: flex;
    width: 100%;
    padding-top: 2em;
    justify-content: center;
    gap: 4%;
    background-image: url(images/left_bvmv7q.png), url(images/right_yz6hn3.png);
    background-size: contain;
    background-position: right -20% top 10%, left -20% top 10%;
        /* background-position-x: right -20%, left -20%;
        background-position-y: top 10%, top 10%; */
    padding: 0 2,5em;
    padding-top: 2em;
}
.row{
    background-color: #fff;
    display:flex;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: center;
}
.program-card{
    width: 30%; 
    background-color: #FFFAFA;
    padding: 10px;
    justify-content: center;
    margin: 20px;
    display : flex;
    gap: 1em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 2%;
    padding-left: 2%;
}

.program-card .zuri-img{
    margin-bottom: 48px;
    position: relative;
}

img{
    vertical-align: middle;
    border-style: none;
}

.program-card p{
    font-size: 16px;
    text-align:justify;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
}
.program-card h3 a{
    font-size: 16px;
    line-height: 40px;
    color: #E7332B;
    opacity: 0.9;
}
.footer{
    margin-top: 215px;
    margin-left: 50px;
    margin-right: 50px;
}
.footer-flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 56px;
    padding: 20px;
   
}
.footer h3{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #514949;
}
.links{
    list-style: none;
    margin: 0;
    padding: 0;
}
.links a{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #514949;
    opacity: 0.9;
}
.address p{
    font-size: 14px;
    line-height: 20px;
    color: #514949;
    opacity: 0.9;
}
.contact-icons{
    /* size-adjust: 30px; */
    width: auto;
    margin-right: 15px;
}
.icons{
    width: 9%;
}
.footer hr{
    opacity: 0.2;
    border: 0.7px solid #514949;
}
.copyright p{
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
    margin-top: 32px;
    color: #514949;
    padding-bottom: 97px;
}
@media screen and(max-width: 375px) {
    body{
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .programs{
        flex-direction: column;
        width: 100%;
        padding: 25px;
    }
    
}
@media (max-width: 1440px){
    body{
        width: 100%;
    }
}
   