*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Graphik, sans-serif;
}
.box{
    color: rgb(255, 253, 245) none repeat;

}
.header{
    padding-top: 15px;
    padding-bottom: 15px;
}